<a href="https://colab.research.google.com/github/xIIBushido/platzi/blob/main/CursoPythonFundamentals_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduccion al curso de python

In [ ]:
print("Hola, esto es python")
print("Hola soy Sebastian y tengo 24 años")

print(12 + 12)
print(40 -12)
print(2 * 3)
print(12 / 3)

print(10 / 2)
print(10 % 2)
print(10 / 3)
print(10 % 3)

print(2 ** 3)

# Comment one line

Hola, esto es python
Hola soy Sebastian y tengo 24 años
24
28
6
4.0
5.0
0
3.3333333333333335
1
8

## Variables

In [ ]:
#Esto es una variable
my_name="Sebastian"
print(my_name)
#Recursividad de la variable my_name intercambiando su valor
my_name="Santiago"
print("Aqui hice recursividad sobre la variable my_name intercambiandola por:",my_name)

Sebastian
Aqui hice recursividad sobre la variable my_name intercambiandola por: Santiago

In [ ]:
#Esto es una variable con un numero
my_age=24
print(my_age)

24

In [ ]:
#Input
my_name = input("¿Cuál es tu nombre?\n")
print("Al usar la funcion input deja ingresar un valor a la variable my_name, asignandole el valor:",my_name)

¿Cuál es tu nombre?
Sebastian
Al usar la funcion input deja ingresar un valor a la variable my_name, asignandole el valor: Sebastian

## Tipos de datos
### Tipos de datos primitivos
1.  Integers: números Enteros
2.  Floats: números de punto flotante (decimales)
3.  Strings: cadena de caracteres (texto)
4.  Boolean: boolenaos (Verdadero o Falso)

### Tipos de dato adicionales
1. Datos en texto: str
2. Datos numéricos: int, float, complex
3. Datos en secuencia: list, tuple, range
4. Datos de mapeo: dict
5. Set Types: set, frozenset
6. Datos booleanos: bool
7. Datos binarios: bytes, bytearray, memoryview

In [ ]:
#string: cadenas de texto
my_name='Nicolas'
my_name="Santiago"
print('my_name =>',my_name)
#Imprime el tipo de dato que es la variable en el codigo con la funcion type
print(type(my_name))

my_name => Santiago
<class 'str'>

In [ ]:
#int: son numeros enteros
my_age = 24
print('Este es el valor que tengo en la variable my_age:',my_age)
print(type(my_age))

Este es el valor que tengo en la variable my_age: 24
<class 'int'>

In [ ]:
#boolean: almacenan dos datos, True o False
is_single = True
print('is_single:',is_single)
print(type(is_single))

is_single: True
<class 'bool'>

In [ ]:
#inputs: ingreso por teclado
my_age = input('¿Cuál es tu edad?\n')
print('Este es el valor que tengo en la variable my_age:',my_age)
print(type(my_age))

¿Cuál es tu edad?
24
Este es el valor que tengo en la variable my_age: 24
<class 'str'>

In [ ]:
#Ejercicio de numeros y cadenas
my_name='Nicolas'
my_name="Santiago"
#Si se conserva con las dobles comillas el programa va a seguir tomando el valor como un string
my_name="0"
print('my_name =>',my_name)
#Imprime el tipo de dato que es la variable en el codigo con la funcion type
print(type(my_name))

my_name => 0
<class 'str'>

##Strings

In [ ]:
name = 'Sebastian'
lastname = 'Castiblanco'
age = 24
print(name)
print(lastname)

fullname = name +' '+ lastname
print(fullname)

quote = "I'm Sebastian"
print(quote)

quote2 = 'She Said "Hello"'
print (quote2)

#Formateo de cadenas
template = "Hola, mi nombre es " + name + ' y mi apellido es ' + lastname
print(template)

template = "Hola, mi nombre es {} y mi apellido es {}".format(name, lastname)
print(template)

template1 = f'Hola, mi nombre es {name} y mi apellido es {lastname}'
print(template1)

template = template1 + f' y tengo {age} años de edad'
print(template)

Sebastian
Castiblanco
Sebastian Castiblanco
I'm Sebastian
She Said "Hello"
Hola, mi nombre es Sebastian y mi apellido es Castiblanco
Hola, mi nombre es Sebastian y mi apellido es Castiblanco
Hola, mi nombre es Sebastian y mi apellido es Castiblanco
Hola, mi nombre es Sebastian y mi apellido es Castiblanco y tengo 24 años de edad

##Numbers

In [ ]:
#Se pasa las variables de cadenas a enteras.
prom_ene = int(input('Ingrese el promedio de Enero\n'))
prom_feb = int(input('Ingrese el promedio de Febrero\n'))
prom_mar = int(input('Ingrese el promedio de Marzo\n'))

prom_total = (prom_ene + prom_feb + prom_mar)/3

print('El promedio total es: ',prom_total)

Ingrese el promedio de Enero
12
Ingrese el promedio de Febrero
12
Ingrese el promedio de Marzo
12
El promedio total es:  12.0

##Booleans

In [ ]:
is_single = True
print(type(is_single))
is_single = False
print(is_single)

print(not True)
print(not False)

is_single = not is_single
print(is_single)

<class 'bool'>
False
False
True
True

##Transformaciones de tipos de datos

In [ ]:
name = "Sebastian"
print(type(name))
name = 12
print(type(name))
name = True
print(type(name))

print("Sebastian" + " Castiblanco")
print(10 + 20)
print("Sebastian" + "12")

age = 24
print("Mi edad es " + str(age))
print(f"Mi edad es {age}")

age = input('Escribe tu edad => \n')
print(type(age))
age = int(age)
age += 10
print(f'Tu edad en 10 años sera {age}')

<class 'str'>
<class 'int'>
<class 'bool'>
Sebastian Castiblanco
30
Sebastian12
Mi edad es 24
Mi edad es 24
Escribe tu edad =>
24
<class 'str'>
Tu edad en 10 años sera 34

In [ ]:
#Ejercicio de formato
name = 'Sebastian'
print(name)
age = '24'
print(age)
total = 24 + 10

template = f"Hola mi nombre es {name}, tengo {age} años y en 10 años tendré {total} años"
print(template)

Sebastian
24
Hola mi nombre es Sebastian, tengo 24 años y en 10 años tendré 34 años

##Operadores Aritmeticos

In [ ]:
#Suma
print(10 + 10)
#Resta
print(10 - 5)
#Multiplicación
print(10 * 2)
#Divición
print(10 / 2) # 5
#Modulo
print(10 % 2) # 0
#Divide y redondea
print(10 // 3)
#Potencia
print(2 ** 3)
#Ejercicios combinando operaciones aritmeticas
print(2 ** 3 + 3 - 7 / 1 // 4)
print((7 / 1) // 4)
print(8 + 3 - 1)
#Concatenación
print('Hola' + ' mundo')
#Clonación de cadenas
print('Hola' * 3)

20
5
20
5.0
0
3
8
10.0
1.0
10
Hola mundo
HolaHolaHola

###Prioridad operaciones aritmeticas.
1.  P-parentesis
2.  E-exponentes
3.  M-multiplicación
4.  D-división
5.  A-adición
6.  S-sustracción

##Operadores de comparación.

1.  a>b
2.  a<b
3.  a==b
4.  a>=b
5.  a<=b
6.  a!=b

In [ ]:
# >
print(7 > 3)
print(3 > 7)
print(7 > 7)

# <
print(5 < 6)
print(6 < 5)
print(5 < 5)

# >=
print(2 >= 1)
print(2 >= 3)
print(2 >= 2)

# <=
print(1 <= 2)
print(2 <= 1)
print(2 <= 2)

# ==

print(6 == 6)
print(5 == 2)

# !=

print(6 != 10)
print(6 != 6)

print("Apple" == 'Apple')
print("Apple" == 'apple')
print("1" == 1)

age = 15
print(age >= 18)

True
False
False
True
False
False
True
False
True
True
False
True
True
False
True
False
True
False
False
False

##Comparación de numeros flotantes

In [ ]:
x = 3.3
print(x)
y = 1.1 + 2.2
print(y)
print(x == y)

#Formateador
y_str = format(y, ".2g")
print('str =>', y_str)
print(y_str == str(x))

print('*' * 10)

print(y, x)

tolerance = 0.00001
print(abs(x - y) < tolerance)

3.3
3.3000000000000003
False
str => 3.3
True
**********
3.3000000000000003 3.3
True

##Operadores lógicos: and y or

In [ ]:
# and
print('AND')
print('True and True =>', True and True)
print('True and False =>', True and False)
print('False and True =>', False and True)
print('False and False =>', False and False)

print(10 > 5 and 5 < 10)
print(10 > 5 and 5 > 10)

stock = input('Ingrese el numero de stock => \n')
stock = int(stock)

print(stock >= 100 and stock <= 1000)

print('OR')
print('True or True =>', True or True)
print('True or False =>', True or False)
print('False or True =>', False or True)
print('False or False =>', False or False)

role = input('Digita el rol => \n')

print(role == 'admin' or role == 'seller')

AND
True and True => True
True and False => False
False and True => False
False and False => False
True
False
Ingrese el numero de stock =>
101
True
OR
True or True => True
True or False => True
False or True => True
False or False => False
Digita el rol =>
seller
True

##Operador lógico not

In [ ]:
print(not True)
print(not False)

# and
print('NOT AND')
print('not True and True =>', not (True and True))
print('not True and False =>', not (True and False))
print('not False and True =>', not (False and True))
print('not False and False =>', not (False and False))

stock = input('Ingrese el numero de stock => \n')
stock = int(stock)

print(not (stock >= 100 and stock <= 1000))

False
True
NOT AND
not True and True => False
not True and False => True
not False and True => True
not False and False => True
Ingrese el numero de stock =>
101
False

##Condicionales

In [ ]:
if True:
  print('deberí­a ejecutarse')

if False:
  print('nunca se ejecuta')

'''
pet = input('¿Cuál es tu mascota favorita? ')

if pet == 'perro':
  print('genial tienes buen gusto')
elif pet == 'gato':
  print('espero tengas suerte')
elif pet == 'pez':
  print('eres lo maximo')
else:
  print('no tienes ninguna mascota interesante')


stock = int(input('Digita el stock => \n'))

if stock >= 100 and stock <= 1000:
  print('el stock es correcto')
else:
  print('el stock es incorrecto')

'''

number = int(input('Ingrese un numero => \n'))
result = number % 2
if (result == 0):
	print('Es par')
else:
	print('Es impar')

deberí­a ejecutarse
Ingrese un numero =>
99
Es impar

##Strings recargado

In [ ]:
text = 'Ella sabe programar en Python'

'''
#Comprueba que la palabra JavaScript este dentro del valor almacenado en la variable text
print('JavaScript' in text)
#Comprueba que la palabra Python este dentro del valor almacenado en la variable text
print('Python' in text)

if 'JS' in text:
  print('Elegiste bien!!')
else:
  print('Tambien elegiste bien')

'''
#Devuelve el numero de caracteres de una cadena de texto
size = len(text)
print(size)

#Imprime el texto
print(text)
#Coloca en mayusculas el texto
print(text.upper())
#Coloca en minusculas el texto
print(text.lower())
#Cuenta cuantas letras (a) tiene la oración
print(text.count('a'))
#Transforma las letras minusculas a mayusculas y biceversa
print(text.swapcase())
#Valida que el valor almacenado en la variable text comienza con cierta palabra
print(text.startswith('Ella'))
#Valida que el valor almacenado en la variable text termina con cierta palabra
print(text.endswith('Rust'))
#Busca y reemplaza cierta palabra por otra
print(text.replace('Python', 'Go'))

text_2 = 'este es un titulo'
print(text_2)
#Coloca la primera letra en mayuscula
print(text_2.capitalize())
#Coloca el inicio de cada una de las palabras con la primeta letra en mayuscula
print(text_2.title())
#Evalua si el texto es un digito
print(text_2.isdigit())
#Evalua si el texto es un digito
print("398".isdigit())

29
Ella sabe programar en Python
ELLA SABE PROGRAMAR EN PYTHON
ella sabe programar en python
4
eLLA SABE PROGRAMAR EN pYTHON
True
False
Ella sabe programar en Go
este es un titulo
Este es un titulo
Este Es Un Titulo
False
True

##Indexing y slicing

In [ ]:
text = "Ella sabe Python"
print(text[0])
print(text[1])
# print(text[999])
size = len(text)
print('size => ',size)
print(text[size - 1])
print(text[-1])

# slicing

print(text[0:5])
print(text[10:16])
print(text[:10])
print(text[5:-1])
print(text[5:])
print(text[:])
print(text[10:16:1])
print(text[10:16:2])
print(text[::2])

E
l
size =>  16
n
n
Ella
Python
Ella sabe
sabe Pytho
sabe Python
Ella sabe Python
Python
Pto
El aePto

##Listas

In [ ]:
numbers = [1, 2, 3, 4]
print(numbers)
print(type(numbers))

tasks = ['make a dishes', 'play videogames']
print(tasks)

types = [1, True, 'hola']
print(types)

print(numbers[0])
print(tasks[0])
text = 'Hola'
# text[0] = 'W'

tasks[0] = 'watch platzi courses'
print(tasks)

tasks[0] = 'do the dishes'
print(tasks)

print(numbers[:3])
print(True in types)
print('hola' in types)

[1, 2, 3, 4]
<class 'list'>
['make a dishes', 'play videogames']
[1, True, 'hola']
1
make a dishes
['watch platzi courses', 'play videogames']
['do the dishes', 'play videogames']
[1, 2, 3]
True
True

##Metodos de listas

In [ ]:
# CRUD Create, Read, Update & Delete

numbers = [1, 2 , 3 , 4 , 5]
print(numbers[1])
numbers[-1] = 10
print(numbers)

numbers.append(700)
print(numbers)

numbers.insert(0, 'hola')
print(numbers)

numbers.insert(3, 'change')
print(numbers)

tasks = ['todo 1', 'todo 2', 'todo 3']
new_list = numbers + tasks
print(new_list)

#Devuelve la posición donde se encuentra el elemento buscado
index = new_list.index('todo 2')
new_list[index] = 'todo changed'
print(new_list)

new_list.remove('todo 1')
print(new_list)

#Elimina el ultimo elemento de la lista
new_list.pop()
print(new_list)
#Elimina una posición en la lista
new_list.pop(0)
print(new_list)
#Voltea toda la lista de posiciones
new_list.reverse()
print(new_list)

numbers_a = [1, 4, 6 , 3]
#Ordena los numeros
numbers_a.sort()
print(numbers_a)

strings = ['re', 'ab', 'ed']
#Ordena las palabras
strings.sort()
print(strings)

#Si la lista tiene tipos de datos mezclados no puede ordenas
#new_list.sort()

2
[1, 2, 3, 4, 10]
[1, 2, 3, 4, 10, 700]
['hola', 1, 2, 3, 4, 10, 700]
['hola', 1, 2, 'change', 3, 4, 10, 700]
['hola', 1, 2, 'change', 3, 4, 10, 700, 'todo 1', 'todo 2', 'todo 3']
['hola', 1, 2, 'change', 3, 4, 10, 700, 'todo 1', 'todo changed', 'todo 3']
['hola', 1, 2, 'change', 3, 4, 10, 700, 'todo changed', 'todo 3']
['hola', 1, 2, 'change', 3, 4, 10, 700, 'todo changed']
[1, 2, 'change', 3, 4, 10, 700, 'todo changed']
['todo changed', 700, 10, 4, 3, 'change', 2, 1]
[1, 3, 4, 6]
['ab', 'ed', 're']

##Tuplas

In [ ]:
numbers = (1, 2, 3, 5)
strings = ('nico', 'zule', 'santi', 'nico')
print(numbers)
print('0 =>', numbers[0])
print('-1 =>', numbers[-1])
print(type(numbers))

print(strings)
print(type(strings))

# CRUD
# numbers.append(10)
print(numbers)
# numbers[1] = 'change'

print(strings)
#Devuelve la posición donde se encuentra el elemento buscado
print(strings.index('zule'))
#Cuenta cuantas veces se encuentra un elemento en una tupla
print(strings.count('nico'))

#Transforma de tupla a lista
my_list = list(strings)
print(my_list)
print(type(my_list))

my_list[1] = 'juli'
print(my_list)

#Transformar de lista a tupla
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 5)
0 => 1
-1 => 5
<class 'tuple'>
('nico', 'zule', 'santi', 'nico')
<class 'tuple'>
(1, 2, 3, 5)
('nico', 'zule', 'santi', 'nico')
1
2
['nico', 'zule', 'santi', 'nico']
<class 'list'>
['nico', 'juli', 'santi', 'nico']
('nico', 'juli', 'santi', 'nico')

En Python, tanto las listas como las tuplas son tipos de datos que se utilizan para almacenar colecciones de elementos. Sin embargo, existen algunas diferencias clave entre ellas:

###Mutabilidad:
1.  Listas: Las listas son mutables, lo que significa que se pueden modificar después de su creación. Puedes agregar, eliminar o modificar elementos en una lista.
2.  Tuplas: Las tuplas son inmutables, lo que significa que no se pueden modificar una vez que se crean. No puedes agregar, eliminar o cambiar elementos en una tupla después de su creación.

Ejemplo de lista:
```
mi_lista = [1, 2, 3]
mi_lista.append(4)  # Válido, se agrega el elemento 4 a la lista
mi_lista[0] = 5     # Válido, se cambia el primer elemento de la lista a 5
```

Ejemplo de tupla:
```
mi_tupla = (1, 2, 3)
mi_tupla.append(4)   # Inválido, las tuplas no tienen el método append
mi_tupla[0] = 5      # Inválido, las tuplas no permiten la asignación de elementos
```

###Sintaxis:

1.  Listas: Se definen usando corchetes [ ].
2.  Tuplas: Se definen usando paréntesis ( ).

Ejemplo:
```
mi_lista = [1, 2, 3]
mi_tupla = (1, 2, 3)
```
###Rendimiento:
Debido a que las tuplas son inmutables, tienden a ser ligeramente más rápidas en términos de rendimiento y ocupan menos memoria que las listas. Si tienes una colección de elementos que no necesitas modificar, usar una tupla puede ser más eficiente.

###Uso:
Las listas se utilizan para almacenar colecciones de elementos que pueden cambiar o necesitar modificaciones durante la ejecución del programa.
Las tuplas se usan generalmente para almacenar colecciones de elementos que no cambiarán durante la ejecución del programa, como coordenadas geográficas, valores constantes, etc.

En resumen, si necesitas una colección mutable de elementos, utiliza una lista. Si necesitas una colección inmutable de elementos, utiliza una tupla. La elección entre listas y tuplas dependerá de las necesidades específicas de tu programa.

##Diccionarios

In [ ]:
my_dict = {}
print(type(my_dict))

my_dict = {
  'avion': "bla bla bla",
  'name': 'Sebastian',
  'last_name': 'Castiblanco',
  'age': 24
}

print(my_dict)
#Tamaño del diccionario
print(len(my_dict))

print(my_dict['age'])
print(my_dict['last_name'])
print(my_dict.get('age'))

print('avion' in my_dict)
print('otroqueno' in my_dict)

<class 'dict'>
{'avion': 'bla bla bla', 'name': 'Sebastian', 'last_name': 'Castiblanco', 'age': 24}
4
24
Castiblanco
24
True
False

##Diccionarios: inserción y actualización

In [ ]:
person = {
  'name': 'Sebastian',
  'last_name': 'Castiblanco',
  'langs': ['python', 'javascript'],
  'age': 24
}

print(person)

person['name'] = 'santi'
person['age'] += 20
person['langs'].append('rust')
print(person)

del person['last_name']
person.pop('age')

print(person)


print('items')
print(person.items())

print('keys')
print(person.keys())

print('values')
print(person.values())

person['twitter'] = '@nicobytes'
print(person)
person['name'] = 'Felipe'
print(person)
print(list(person.keys()))
print(list(person.values()))

{'name': 'Sebastian', 'last_name': 'Castiblanco', 'langs': ['python', 'javascript'], 'age': 24}
{'name': 'santi', 'last_name': 'Castiblanco', 'langs': ['python', 'javascript', 'rust'], 'age': 44}
{'name': 'santi', 'langs': ['python', 'javascript', 'rust']}
items
dict_items([('name', 'santi'), ('langs', ['python', 'javascript', 'rust'])])
keys
dict_keys(['name', 'langs'])
values
dict_values(['santi', ['python', 'javascript', 'rust']])
{'name': 'santi', 'langs': ['python', 'javascript', 'rust'], 'twitter': '@nicobytes'}
{'name': 'Felipe', 'langs': ['python', 'javascript', 'rust'], 'twitter': '@nicobytes'}
['name', 'langs', 'twitter']
['Felipe', ['python', 'javascript', 'rust'], '@nicobytes']

##Loops: While

In [ ]:
'''
while True:
  print('se ejecuto')
'''
'''
counter = 0
while counter < 10:
  counter += 1
  print(counter)
'''
'''
counter = 0
while counter < 20:
  counter += 1
  if counter == 15:
    break
  print(counter)
'''

counter = 0
while counter < 20:
  counter += 1
  if counter < 15:
    #Vuelve al principio del while hasta que salga de la condición
    continue
  print(counter)

15
16
17
18
19
20

##Loops: For

In [ ]:
'''
for element in range(1, 21):
  print(element)

'''

my_list = [23, 45, 67, 89 ,43]
for element in my_list:
  print(element)

my_tuple = ('nico', 'juli', 'santi')
for element in my_tuple:
  print(element)


product = {
  'name': 'Camisa',
  'price': 100,
  'stock': 89
}

for key in product:
  print(key, '=>', product[key])

for key, value in product.items():
  print(key, '=>', value)

people = [
  {
    'name': 'nico',
    'age': 34
  },
  {
    'name': 'zule',
    'age': 45
  },
  {
    'name': 'santi',
    'age': 4
  }
]

for person in people:
  print('name =>', person['name'])

#Insertar en new_list los numeros positivos de my_list
my_list = [1, -1, 2, -2, 3, -3, 4, -4]
new_list = []

# Escribe tu solución 👇
for element in my_list:
  if element >= 0:
    new_list.append(element)
print(new_list)

23
45
67
89
43
nico
juli
santi
name => Camisa
price => 100
stock => 89
name => Camisa
price => 100
stock => 89
name => nico
name => zule
name => santi
[1, 2, 3, 4]

##Ciclos anidados

In [ ]:
matriz = [
  [1,2,3],
  [4,5,6],
  [7,8,9]
]
print(matriz[0][1])

for row in matriz:
  print(row)
  for column in row:
    print(column)

2
[1, 2, 3]
1
2
3
[4, 5, 6]
4
5
6
[7, 8, 9]
7
8
9

#Proyecto Juego Piedra, Papel o Tijera

In [ ]:
import random

options = ('piedra', 'papel', 'tijera')
rounds = 1
computer_wins = 0
user_wins = 0

print("""
      [ 🤖 Bienvenido al juego Piedra, Papel o tijera 🙋]
                  >>> Ingresa una opción <<<
      """)

while True:
    print('***' * 10)
    print('Round ', rounds)
    print('***' * 10)

    print(f'''
🤖 Computer wins: {computer_wins}
🙋 User wins: {user_wins}
          ''')

    user_option = input('>>> Piedra, papel o tijera => ').lower()
    rounds += 1

    if not user_option in options:
        print('Esa opción no es valida')

    computer_option = random.choice(options)

    print('User option => ', user_option)
    print('Computer option => ', computer_option)

    if user_option == computer_option:
        print('Empate!\n')
    elif user_option == 'piedra':
        if computer_option == 'tijera':
            print('🪨 Piedra gana a tijera ✂️')
            print('¡User gana!\n')
            user_wins += 1
        else:
            print('📄 Papel gana a piedra 🪨')
            print('¡Computer gana!\n')
            computer_wins += 1
    elif user_option == 'papel':
        if computer_option == 'piedra':
            print('📄 Papel gana a piedra 🪨')
            print('¡User gana!\n')
            user_wins += 1
        else:
            print('✂️ Tijera gana a papel 📄')
            print('¡Computer gana!\n')
            computer_wins += 1
    elif user_option == 'tijera':
        if computer_option == 'papel':
            print('✂️ Tijera gana a papel 📄')
            print('¡User gana!\n')
            user_wins += 1
        else:
            print('🪨 Piedra gana a tijera ✂️')
            print('¡Computer gana!\n')
            computer_wins += 1

    if computer_wins == 3:
        print('🎖️ El ganador es Computer 🎖️')
        break

    if user_wins == 3:
        print('🎖️ El ganador es User 🎖️')
        break

      [ 🤖 Bienvenido al juego Piedra, Papel o tijera 🙋]
                  >>> Ingresa una opción <<<

******************************
Round  1
******************************

🤖 Computer wins: 0
🙋 User wins: 0

>>> Piedra, papel o tijera => piedra
User option =>  piedra
Computer option =>  tijera
🪨 Piedra gana a tijera ✂️
¡User gana!

******************************
Round  2
******************************

🤖 Computer wins: 0
🙋 User wins: 1

>>> Piedra, papel o tijera => papel
User option =>  papel
Computer option =>  papel
Empate!

******************************
Round  3
******************************

🤖 Computer wins: 0
🙋 User wins: 1

>>> Piedra, papel o tijera => papel
User option =>  papel
Computer option =>  papel
Empate!

******************************
Round  4
******************************

🤖 Computer wins: 0
🙋 User wins: 1

>>> Piedra, papel o tijera => tijera
User option =>  tijera
Computer option =>  papel
✂️ Tijera gana a papel 📄
¡User gana!

******************************
Round  5
******************************

🤖 Computer wins: 0
🙋 User wins: 2

>>> Piedra, papel o tijera => papel
User option =>  papel
Computer option =>  tijera
✂️ Tijera gana a papel 📄
¡Computer gana!

******************************
Round  6
******************************

🤖 Computer wins: 1
🙋 User wins: 2

>>> Piedra, papel o tijera => papel
User option =>  papel
Computer option =>  piedra
📄 Papel gana a piedra 🪨
¡User gana!

🎖️ El ganador es User 🎖️

In [ ]:
city = 'NY'
if city == 'NY':
  print('as')

as